# Django Core
DEBUG=True
SQL_DEBUG=False
DJANGO_SECRET_KEY=thisisnotasecretkey
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000

# Database
DB_NAME=lasfera
DB_USER=lasfera
DB_PASS=postgres
DB_HOST=db
DB_PORT=5432

# Only used in Docker setup
POSTGRES_DB=lasfera
POSTGRES_USER=lasfera
POSTGRES_PASSWORD=postgres

# Wagtail
WAGTAILADMIN_BASE_URL=http://localhost:8000

# AWS (Leave as placeholders for local dev)
AWS_ACCESS_KEY_ID=local_dev
AWS_SECRET_ACCESS_KEY=local_dev
AWS_STORAGE_BUCKET_NAME=local_dev
AWS_S3_REGION_NAME=us-east-1
