{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block title %}About - La Sfera{% endblock title %}

{% block content %}
    <div class="mx-auto container pt-3">
        <section class="w-full p-4 my-10">
            <h3 class="text-4xl pb-4 font-bold" id="top">
                {{ page.title }}
            </h3>

            <div class="grid grid-cols-3 gap-4">
          {# Left Column (2/3) #}
                <section id="page" class="prose col-span-2">
                    {{ page.body|richtext }}
                </section>

          {# Right Column (1/3) #}
                <aside class="prose border-l border-gray-200 pl-5">
                    {{ page.team|richtext }}
                </aside>
            </div>
        </section>
    </div>
{% endblock %}
