{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block title %}{{ page.title }} - La Sfera{% endblock title %}

{% block content %}
<main class="w-full">
    <!-- max-w-none removes the 2/3 width restriction -->
    <div class="px-4 md:px-10 mx-auto w-full max-w-none"> 
        <article class="prose prose-lg max-w-none mx-auto">
            {% for block in page.body %}
                <div class="my-8 block-{{ block.block_type }}">
                    {% include_block block %}
                </div>
            {% endfor %}
        </article>
    </div>
</main>
{% endblock %}
