{% extends "base.html" %}

{% block title %}Gazetteer - La Sfera{% endblock title %}

{% block content %}
    <div class="mx-auto container pt-3">
        <section id="gazetteer" class="w-full p-4 my-10">

            <h3 class="text-4xl pb-8 font-bold" id="top">
                Gazetteer
            </h3>

            <p class="prose">This is an index of all of the placenames (i.e. toponyms) which are either mentioned in <em>La sfera</em> or present on at least one of the maps that decorate the margins of many <em>Sfera</em> manuscripts.</p>

            <details>
                <summary>About the gazetteer</summary>
                <div class="prose">
                    <p>You can learn more about the toponyms in three ways:</p>

                    <ol class="ml-12 list-decimal">
                        <li>Select a toponym from the index list on the left. This list is filterable by fuzzy-matching search. Selecting a toponym will allow you to view more detailed information.</li>
                        <li>Start typing a toponym in the search box, and the list will use fuzzy matching to offer you a smaller number of options.</li>
                        <li>Select a point on the map to view the toponym associated with that location. You can then click on the toponym for more detailed information.</li>
                    </ol>

                    <p>With each toponym we have listed a few of the naming variants that appear across the Sfera manuscripts. Our list of variants is not comprehensive, and provides only a representative sample of the kinds of spelling variants found on Sfera maps. In particular, doubled letters (<strong>angolo </strong> >> <strong>angollo</strong>), <strong>c/ch </strong>and <strong>g/gh</strong> variants (>> <strong>angholo</strong>), and vowel variation (>> <strong>angelo</strong>) are so common that it is impossible to note all variations. Toponyms with few or no variants either (a) are so common as to acquire a standard spelling (e.g. <strong>asia</strong>) OR (b) do not often appear in the <em>Sfera</em> maps (e.g. <strong>livorno</strong>). Our list of variants expands abbreviations except in the case of labels such as <strong>f[iume]</strong> or <strong>m[are]</strong>, where variation is shown.</p>
                </div>

            </details>
            <section id="gazetteer" class="flex flex-col md:flex-row w-full p-4 my-10">
                <div class="flex flex-col md:flex-row w-full p-2 gap-x-4">
        {# Left column #}
                    <div class="w-1/3 md:w-1/4 h-screen overflow-auto border p-3 m-3">
                        <input name="q" type="text" placeholder="Search toponyms..." class="p-2 border border-gray-300 rounded mt-4 mb-2 w-full" id="searchToponyms" hx-get="{% url 'search_toponyms' %}" hx-trigger="keyup changed delay:500ms" hx-target="#toponymsList">
                        <hr class="border-gray-300">
                        <div id="toponymsList">
                            {% include "partials/toponyms_list.html" with locations=locations %}
                        </div>
                    </div>
        {# Right column #}
                    <div class="w-2/3 md:w-3/4 h-screen" id="map"></div>
                </div>
            </section>

            <script>
                const map = L.map('map').setView([41.163, 28.766], 3);
                L.tileLayer('https://{s}.basemaps.cartocdn.com/rastertiles/voyager_labels_under/{z}/{x}/{y}{r}.png', {
                    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors &copy; <a href="https://carto.com/attributions">CARTO</a>',
                    maxZoom: 20
                }).addTo(map);

    // Store markers in a Map object for easy lookup
                const markersByLocationId = new Map();

    // Initialize the marker cluster group
                const markers = L.markerClusterGroup();

                fetch("/api/toponyms")
                    .then(response => response.json())
                    .then(data => {
                        data.forEach(toponym => {
                // Skip if coordinates are null
                            if (toponym.latitude === null || toponym.longitude === null) {
                                return;
                            }

                            const ms_alias = toponym.aliases[0].placename_from_mss;
                            const modern_alias = toponym.aliases[0].placename_modern;
                            const circleMarker = L.circleMarker([toponym.latitude, toponym.longitude], {
                                radius: 6,
                                color: 'none',
                                fillColor: '#B91C1C',
                                fillOpacity: 0.6,
                                className: `marker-${toponym.id}` // Add class for easy selection
                            }).bindPopup(
                                `<a style="text-decoration: underline" href="/toponyms/${toponym.slug}">${
                                    toponym.name ||
                                    ms_alias ||
                                    (modern_alias
                                        ? `No name available (${modern_alias})`
                                        : 'No name available')
                                }</a>`
                            );

                // Store marker reference
                            markersByLocationId.set(toponym.id, circleMarker);

                            circleMarker.addTo(map);
                        });

            // Add hover effects
                        const listItems = document.querySelectorAll('#toponymsList li');
                        listItems.forEach(item => {
                            item.addEventListener('mouseenter', (e) => {
                                const locationId = item.dataset.locationId;
        // Affect all markers
                                markersByLocationId.forEach((marker, id) => {
                                    if (id === parseInt(locationId)) {
                // Highlighted marker
                                        marker.setStyle({
                                            radius: 8,
                                            fillColor: '#4daf4a',
                                            fillOpacity: 1
                                        });
                                        marker.bringToFront();
                                    } else {
                // Non-highlighted markers
                                        marker.setStyle({
                                            radius: 4, // Make other points smaller
                                            fillColor: '#B91C1C',
                                            fillOpacity: 0.4 // Optional: can also reduce opacity
                                        });
                                    }
                                });
                            });

                            item.addEventListener('mouseleave', (e) => {
        // Reset all markers to original style
                                markersByLocationId.forEach((marker) => {
                                    marker.setStyle({
                                        radius: 6,
                                        fillColor: '#B91C1C',
                                        fillOpacity: 0.6
                                    });
                                });
                            });
                        });
                    })
                    .catch(error => console.error('Error fetching toponym data:', error));
            </script>
        </section>
{% endblock %}
