{% load static tailwind_tags i18n %}
{% load wagtailcore_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:description" content="The La Sfera Project encompasses a number of different scholarly efforts exploring the Florentine merchant Gregorio Dati's treatise La sfera (The Globe), written sometime around 1430. It began with the #lasferachallenge, the social-media brainchild of Laura Morreale and Ben Albritton, in 2020, but">
        <meta itemprop="name" content="The La Sfera Project">
        <meta itemprop="description" content="The La Sfera Project encompasses a number of different scholarly efforts exploring the Florentine merchant Gregorio Dati's treatise La sfera (The Globe), written sometime around 1430. It began with the #lasferachallenge, the social-media brainchild of Laura Morreale and Ben Albritton, in 2020, but">
        <title>{% block title %}The La Sfera Project{% endblock %}</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
        <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.css" />
        <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.Default.css" />
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
        <script src="https://unpkg.com/leaflet.markercluster/dist/leaflet.markercluster-src.js"></script>
        <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
        <script src="https://unpkg.com/htmx.org@1.8.6" integrity="sha384-Bj8qm/6B+71E6FQSySofJOUjA/gq330vEqjFx9LakWybUySyI1IQHwPtbTU7bNwx" crossorigin="anonymous"></script>
        {% tailwind_css %}
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
        <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
        {% block extra_head %}{% endblock extra_head %}
        {% block extra_css %} {% endblock extra_css %}
        <!-- Matomo -->
        <script>
          var _paq = window._paq = window._paq || [];
          /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
          _paq.push(['trackPageView']);
          _paq.push(['enableLinkTracking']);
          (function() {
            var u="https://stats.rrchnm.org/";
            _paq.push(['setTrackerUrl', u+'matomo.php']);
            _paq.push(['setSiteId', '118']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
          })();
        </script>
        <!-- End Matomo Code -->
    </head>
    <body class="flex flex-col min-h-screen {% if is_index %}bg-slate-800{% endif %}">
      <div class="min-h-screen bg-white">


        {% include 'partials/navigation.html' %}
        <main class="flex-grow {% if is_index %}no-padding{% endif %}">
            {% block home %}
            {% endblock home %}

            {% block content %}
            {% endblock %}
        </main>

        </div>

        <footer class="relative w-full bg-slate-200 pt-3 pb-3">
            <div class="w-full px-8 mx-auto max-w-7xl">
                <div class="flex flex-col items-center justify-center w-full py-2 mt-6 border-t border-blue-gray-50 md:flex-row md:justify-between">
                    <p class="block mb-2 text-sm antialiased font-normal leading-normal text-center text-blue-gray-900 md:mb-0">
                        A project developed by the <a class="underline hover:no-underline" href="https://rrchnm.org">Roy Rosenzweig Center for History and New Media</a> at <a class="underline hover:no-underline" href="https://gmu.edu">George Mason University</a>, 2024-2025.
                    </p>
                </div>
                <div class="container mx-auto flex justify-end items-center space-x-4 pb-3">
                    <img src="{% static 'images/4winds-logo.png' %}" alt="New College of Florida" class="h-10">
                    <img src="{% static 'images/rrchnm-logo.png' %}" alt="Roy Rosenzweig Center for History and New Media" class="h-10">
                    <img src="{% static 'images/gmu-logo.png' %}" alt="George Mason University" class="h-10">
                    <img src="{% static 'images/performant_logo.svg' %}" alt="Performant Software Solutions" class="h-10">
                </div>
            </div>
        </footer>

        <script src="https://unpkg.com/htmx.org@1.6.1"></script>
        <script src="{% static 'js/main.js' %}"></script>
        {% block scripts %}
        {% endblock scripts %}
    </body>
</html>

