{% extends "base.html" %}

{% block title %}DMCA Policy - La Sfera{% endblock title %}

{% block content %}
  <div class="mx-auto container pt-3">
    <section class="w-full p-4 my-10">
      <h1 class="text-3xl font-bold mb-4">DMCA Policy</h1>

      <p class="prose mb-4">
        The La Sfera Project respects the intellectual property rights of others.
        Per the DMCA, the La Sfera Project will respond expeditiously to claims of
        copyright infringement on the Site if submitted to the La Sfera Project's
        contact email address as described below. Upon receipt of a notice
        alleging copyright infringement, the La Sfera Project will take whatever
        action it deems appropriate within its sole discretion, including removal
        of the allegedly infringing materials and termination of access for repeat
        infringers of copyright protected content.
      </p>

      <p class="prose mb-4">
        If you believe that your intellectual property rights have been violated
        by the La Sfera Project or by a third party who has uploaded materials to
        our website, please provide the following information to the email address
        listed below:
      </p>

      <ol class="mb-4 list-decimal text-gray-700 max-w-[65ch] ml-4 pr-4">
        <li>
          A description of the copyrighted work or other intellectual property
          that you claim has been infringed;
        </li>
        <li>
          A description of where the material that you claim is infringing is
          located on the Site;
        </li>
        <li>An email address where we can contact you;</li>
        <li>
          A statement that you have a good-faith belief that the use is not
          authorized by the copyright owner or other intellectual property rights
          owner, by its agent, or by law;
        </li>
        <li>
          A statement by you under penalty of perjury that the information in your
          notice is accurate and that you are the copyright or intellectual
          property owner or are authorized to act on the owner's behalf;
        </li>
        <li>Your electronic or physical signature.</li>
      </ol>

      <p class="prose mb-4">
        The La Sfera Project may request additional information before removing
        any allegedly infringing material. In the event the La Sfera Project
        removes the allegedly infringing materials, the La Sfera Project will
        immediately notify the person responsible for posting such materials that
        the La Sfera Project removed or disabled access to the materials. The La
        Sfera Project may also provide the responsible person with your email
        address so that the person may respond to your allegations.
      </p>

      <p class="prose mb-4">
        Contact the La Sfera Project via email:
        <a class="hover:no-underline" href="mailto:datis.sfera@gmail.com">datis.sfera@gmail.com</a>
      </p>
    </section>
  </div>
{% endblock %}
