{% extends "base.html" %}
{% load static %}
{% load stanza_tags %}

{% block title %}Manuscript Traditions - La Sfera{% endblock title %}

{% block content %}
    <div class="mx-auto container pt-3">
    <section class="w-full p-4 my-10">
        <!-- Title -->
        <h3 class="text-4xl mb-8 font-bold" id="top">
            {{ snippet.title|default:"Manuscripts" }}
        </h3>
        <p class="prose mb-8">
            {% if snippet.body %}
                {{ snippet.body|safe }}
            {% else %}
                This is an index of all of the manuscripts catalogued by the project
                that contain <em>La sfera</em>, with links to metadata and digitized
                materials.
            {% endif %}
        </p>
        <ul>
        {% for manuscript in manuscripts %}
            <li>
                {% if manuscript.siglum %}
                    <a class="underline hover:no-underline" href="{% url 'manuscript' manuscript.siglum %}">
                        {{ manuscript.shelfmark_fmt|default:manuscript.siglum }}
                    </a>
                {% else %}
                    {{ manuscript.shelfmark_fmt|default:manuscript.siglum }}
                {% endif %}
            </li>
        {% endfor %}
        </ul>
        </div>
    </section>
</div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}

